# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
Debug
MotionCapturer/MotionCapturer/test.bmp
MotionCapturer/MotionCapturer.opensdf
MotionCapturer/MotionCapturer.sdf
MotionCapturer/MotionCapturer.suo
MotionCapturer/ipch

# mstest test results
TestResults