# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
Debug
MotionCapturer/MotionCapturer/test.bmp
*.sln
*.csproj
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.suo
*/ipch/


# mstest test results
TestResults